@font-face {
  font-family: "Monocode";
  src: url("/fonts/monocode/Monocode-Regular-V01.02b.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open-sans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@keyframes floatUp {
  0% {
    transform: translateY(90vh);
  } /* start at bottom of viewport */
  100% {
    transform: translateY(-100%);
  } /* end above top slightly */
}

html {
  scroll-behavior: smooth;
}
